.container {
	@apply p-5;
	.cards {
		@apply flex flex-col gap-3 mt-8;
		.card {
			@apply w-full h-[95px] relative rounded-lg bg-mine-shaft-700;
			.learningProgress {
				position: absolute;
				top: 0;
				@apply w-full h-[100px] rounded-lg bg-mine-shaft-900;
				z-index: -1;
				&:before {
					content: '';
					position: absolute;
					top: 0;
					z-index: 1;
					@apply h-[100px] rounded-lg;
					width: 10%;
				}
			}
		}
	}
}
