.layout {
	display: grid;
	grid-template-areas:
		'sidebar content'
		'sidebar content';
	grid-template-columns: 230px 1fr;
	.sidebar {
		grid-area: sidebar;
	}

	.content {
		grid-area: content;
		padding: 15px;
	}
}
