@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 243.7 38% 95%;
		--foreground: 243.7 5% 3%;
		--card: 243.7 38% 90%;
		--card-foreground: 243.7 5% 10%;
		--popover: 243.7 38% 95%;
		--popover-foreground: 243.7 95% 3%;
		--primary: 243.7 54.5% 41.4%;
		--primary-foreground: 0 0% 100%;
		--secondary: 243.7 30% 70%;
		--secondary-foreground: 0 0% 0%;
		--muted: 205.7 30% 85%;
		--muted-foreground: 243.7 5% 35%;
		--accent: 205.7 30% 80%;
		--accent-foreground: 243.7 5% 10%;
		--destructive: 0 50% 30%;
		--destructive-foreground: 243.7 5% 90%;
		--border: 243.7 30% 50%;
		--input: 243.7 30% 18%;
		--ring: 243.7 54.5% 41.4%;
		--radius: 0.5rem;
	}
	.dark {
		--background: 243.7 38% 5%;
		--foreground: 243.7 5% 90%;
		--card: 243.7 38% 3%;
		--card-foreground: 243.7 5% 90%;
		--popover: 243.7 38% 5%;
		--popover-foreground: 243.7 5% 90%;
		--primary: 243.7 54.5% 41.4%;
		--primary-foreground: 0 0% 100%;
		--secondary: 243.7 30% 10%;
		--secondary-foreground: 0 0% 100%;
		--muted: 205.7 30% 15%;
		--muted-foreground: 243.7 5% 60%;
		--accent: 205.7 30% 15%;
		--accent-foreground: 243.7 5% 90%;
		--destructive: 0 50% 30%;
		--destructive-foreground: 243.7 5% 90%;
		--border: 243.7 30% 18%;
		--input: 243.7 30% 18%;
		--ring: 243.7 54.5% 41.4%;
		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

ul[role='list'],
ol[role='list'] {
	list-style: none;
}

html:focus-within {
	scroll-behavior: smooth;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
}

img,
picture,
svg,
video,
canvas {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	font-style: italic;
	background-repeat: no-repeat;
	background-size: cover;
}

input,
button,
textarea,
select {
	font: inherit;
}

@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
		transition: none;
	}
}

body,
html {
	height: 100%;
	scroll-behavior: smooth;
}
